h1 {
    color: rgb(241, 8, 94);
    text-shadow: 2px 3px 4px rgb(143, 111, 111);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline rgb(241, 8, 94);
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    list-style-type: square;
}